.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /* здесь допустим абсолют? иначе просто не знаю, как 
  создать "резиновую" высоту, чтобы картинки разных размеров
  сохраняли нужную пропорцию 1:1.
  если нет, то просто придется задать карточкам фиксированные размеры,
  что очень не хотелось бы */
}